In [28]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import holidays
# ----------------------------
# 1.  Load and parse the data
# ----------------------------
file_path = "data_loads.csv"          
df = pd.read_csv(file_path)
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'])

In [29]:
# --- one-hot for weekend and US holidays 
df['is_saturday'] = (df['TIMESTAMP'].dt.weekday == 5).astype(int)
df['is_sunday']   = (df['TIMESTAMP'].dt.weekday == 6).astype(int)

us_holidays = holidays.UnitedStates()
df['is_us_holiday'] = df['TIMESTAMP'].dt.date.apply(lambda d: int(d in us_holidays))

# --- month dummies 
m = df['TIMESTAMP'].dt.month
d = df['TIMESTAMP'].dt.day

month_dummies = pd.get_dummies(m, dtype=int)          # 1 … 12
month_dummies.columns = [f"month_{col:02d}" for col in month_dummies.columns]
df = pd.concat([df, month_dummies], axis=1)




# --- season codes 
is_spring = ((m ==  3) & (d >= 20)) | (m.isin([4, 5])) | ((m == 6) & (d <= 20))
is_summer = ((m ==  6) & (d >= 21)) | (m.isin([7, 8])) | ((m == 9) & (d <= 21))
is_autumn = ((m ==  9) & (d >= 22)) | (m.isin([10, 11])) | ((m == 12) & (d <= 20))

df['season'] = np.select(
    [is_spring, is_summer, is_autumn],
    ['SP',      'SU',      'A'],
    default='W'
)

# --- one-hot seasons 
season_dummies = pd.get_dummies(df['season'], prefix='season', dtype=int)  

df = pd.concat([df, season_dummies], axis=1)
df.drop(columns='season', inplace=True)       




# --- hour dummies 
for hour in range(24):
    df[f'hour_{hour}'] = (df['TIMESTAMP'].dt.hour == hour).astype(int)

print(df)

       ZONEID           TIMESTAMP   LOAD  w1  w2  w3  w4  w5  w6  w7  ...  \
0           1 2005-01-01 01:00:00  125.8  43  46  40  47  48  46  44  ...
1           1 2005-01-01 02:00:00  121.8  41  46  38  46  48  45  51  ...
2           1 2005-01-01 03:00:00  117.0  40  46  37  45  45  45  49  ...
3           1 2005-01-01 04:00:00  114.4  39  46  37  47  48  48  45  ...
4           1 2005-01-01 05:00:00  113.6  38  46  37  44  48  49  43  ...
...       ...                 ...    ...  ..  ..  ..  ..  ..  ..  ..  ...
60595       1 2011-12-09 19:00:00  173.2  55  37  49  52  48  44  45  ...
60596       1 2011-12-09 20:00:00  175.8  51  37  49  51  46  42  44  ...
60597       1 2011-12-09 21:00:00  175.6  51  39  51  48  45  43  45  ...
60598       1 2011-12-09 22:00:00  173.3  52  43  42  46  44  43  44  ...
60599       1 2011-12-09 23:00:00  167.3  49  45  35  48  43  42  45  ...

       hour_14  hour_15  hour_16  hour_17  hour_18  hour_19  hour_20  hour_21  \
0            0        0        0        0        0        0        0        0
1            0        0        0        0        0        0        0        0
2            0        0        0        0        0        0        0        0
3            0        0        0        0        0        0        0        0
4            0        0        0        0        0        0        0        0
...        ...      ...      ...      ...      ...      ...      ...      ...
60595        0        0        0        0        0        1        0        0
60596        0        0        0        0        0        0        1        0
60597        0        0        0        0        0        0        0        1
60598        0        0        0        0        0        0        0        0
60599        0        0        0        0        0        0        0        0

       hour_22  hour_23
0            0        0
1            0        0
2            0        0
3            0        0
4            0        0
...        ...      ...
60595        0        0
60596        0        0
60597        0        0
60598        1        0
60599        0        1

[60600 rows x 72 columns]

In [32]:
# 6 --- save back to disk 
df.to_csv("data_loads_final.csv", index=False)

In [21]:
# check that the day 2006-04-17 1:00:00 has in the column hour_1 a value of 1
print(df[(df['TIMESTAMP'] == '2006-04-17 01:00:00') & (df['hour_1'] == 1)])

       ZONEID           TIMESTAMP  LOAD  w1  w2  w3  w4  w5  w6  w7  ...  \
10872       1 2006-04-17 01:00:00  77.4  67  57  63  73  68  60  61  ...

       hour_14  hour_15  hour_16  hour_17  hour_18  hour_19  hour_20  hour_21  \
10872        0        0        0        0        0        0        0        0

       hour_22  hour_23
10872        0        0

[1 rows x 69 columns]

In [10]:
import pandas as pd

# ------------------------------------------------------------------
# List of legally-observed U.S. federal (“national”) holidays, 2005-2011
# (shifted to the weekday on which they were officially observed).
# ------------------------------------------------------------------
holiday_dates = [
    # 2005
    "2005-01-17", "2005-02-21", "2005-05-30", "2005-07-04",
    "2005-09-05", "2005-10-10", "2005-11-11", "2005-11-24", "2005-12-26",
    # 2006
    "2006-01-02", "2006-01-16", "2006-02-20", "2006-05-29",
    "2006-07-04", "2006-09-04", "2006-10-09", "2006-11-11",
    "2006-11-23", "2006-12-25",
    # 2007
    "2007-01-01", "2007-01-15", "2007-02-19", "2007-05-28",
    "2007-07-04", "2007-09-03", "2007-10-08", "2007-11-12",
    "2007-11-22", "2007-12-25",
    # 2008
    "2008-01-01", "2008-01-21", "2008-02-18", "2008-05-26",
    "2008-07-04", "2008-09-01", "2008-10-13", "2008-11-11",
    "2008-11-27", "2008-12-25",
    # 2009
    "2009-01-01", "2009-01-19", "2009-02-16", "2009-05-25",
    "2009-07-03", "2009-09-07", "2009-10-12", "2009-11-11",
    "2009-11-26", "2009-12-25",
    # 2010
    "2010-01-01", "2010-01-18", "2010-02-15", "2010-05-31",
    "2010-07-05", "2010-09-06", "2010-10-11", "2010-11-11",
    "2010-11-25", "2010-12-24", "2010-12-31",
    # 2011
    "2011-01-17", "2011-02-21", "2011-05-30", "2011-07-04",
    "2011-09-05", "2011-10-10", "2011-11-11", "2011-11-24", "2011-12-26",
]

# ------------------------------------------------------------------
# Verify that every holiday date has is_us_holiday == 1
# ------------------------------------------------------------------
failed = []

for d_str in holiday_dates:
    holiday_date = pd.to_datetime(d_str).date()
    mask = df['TIMESTAMP'].dt.date == holiday_date       # rows for that calendar day

    if not mask.any():
        failed.append(f"{d_str}  —  no rows found")
    elif not (df.loc[mask, 'is_us_holiday'] == 1).all():
        failed.append(f"{d_str}  —  flag missing or 0")

# ------------------------------------------------------------------
# Report
# ------------------------------------------------------------------
if failed:
    print("Problems found with these dates:")
    for msg in failed:
        print("   ", msg)
else:
    print("All holidays correctly flagged with is_us_holiday == 1")

Problems found with these dates:
    2005-01-17  —  no rows found
    2006-01-16  —  no rows found
    2007-01-15  —  no rows found
    2008-01-21  —  no rows found
    2009-01-19  —  no rows found
    2010-01-18  —  no rows found
    2011-01-17  —  no rows found
    2011-12-26  —  no rows found

In [14]:
#print the row where TIMESTAMP is equal to 2005-01-17
print(df[df['TIMESTAMP'] == '2005-05-17 03:00:00'])

      ZONEID           TIMESTAMP  LOAD  w1  w2  w3  w4  w5  w6  w7  ...  \
2834       1 2005-05-17 03:00:00  67.6  62  57  50  64  66  60  63  ...

      hour_14  hour_15  hour_16  hour_17  hour_18  hour_19  hour_20  hour_21  \
2834        0        0        0        0        0        0        0        0

      hour_22  hour_23
2834        0        0

[1 rows x 57 columns]

In [7]:
#check if there are null values in the column load
if df['LOAD'].isnull().any():
    print("Warning: There are null values in the 'LOAD' column.")

In [8]:
# check if there are null  or missing values in all the columns
if df.isnull().values.any():
    print("Warning: There are null or missing values in the dataframe.")

In [71]:
# print the day 20 of january of 2006
print(df[df['TIMESTAMP'].dt.date == pd.to_datetime('2007-01-20').date()])

       ZONEID           TIMESTAMP   LOAD  w1  w2  w3  w4  w5  w6  w7  ...  \
17759       1 2007-01-20 00:00:00  156.5  43  39  30  37  45  36  42  ...
17760       1 2007-01-20 01:00:00  152.8  41  39  29  36  43  36  41  ...
17761       1 2007-01-20 02:00:00  151.2  39  39  28  35  40  34  39  ...
17762       1 2007-01-20 03:00:00  152.7  37  36  29  36  37  31  38  ...
17763       1 2007-01-20 04:00:00  156.0  36  32  29  35  36  33  36  ...
17764       1 2007-01-20 05:00:00  160.6  29  37  29  34  34  30  34  ...
17765       1 2007-01-20 06:00:00  167.9  36  36  29  33  34  32  33  ...
17766       1 2007-01-20 07:00:00  178.6  37  34  28  33  34  30  32  ...
17767       1 2007-01-20 08:00:00  188.8  36  36  27  31  36  32  33  ...
17768       1 2007-01-20 09:00:00  193.3  39  39  30  38  39  35  38  ...
17769       1 2007-01-20 10:00:00  187.9  43  45  32  41  43  39  41  ...
17770       1 2007-01-20 11:00:00  177.7  45  43  35  43  45  42  43  ...
17771       1 2007-01-20 12:00:00  166.6  46  46  37  45  46  44  44  ...
17772       1 2007-01-20 13:00:00  156.3  50  48  40  47  48  43  45  ...
17773       1 2007-01-20 14:00:00  146.6  50  48  44  48  50  44  45  ...
17774       1 2007-01-20 15:00:00  139.6  50  48  44  50  50  44  46  ...
17775       1 2007-01-20 16:00:00  137.8  55  48  43  48  50  43  46  ...
17776       1 2007-01-20 17:00:00  145.2  48  46  41  49  46  41  44  ...
17777       1 2007-01-20 18:00:00  169.1  45  39  36  43  43  35  38  ...
17778       1 2007-01-20 19:00:00  188.3  43  34  36  40  37  34  32  ...
17779       1 2007-01-20 20:00:00  194.2  45  33  35  40  36  33  32  ...
17780       1 2007-01-20 21:00:00  198.9  43  28  31  38  34  25  30  ...
17781       1 2007-01-20 22:00:00  198.1  41  28  32  37  32  30  27  ...
17782       1 2007-01-20 23:00:00  195.2  40  28  31  37  32  27  27  ...

       w20  w21  w22  w23  w24  w25    Task  is_saturday  is_sunday  \
17759   43   39   41   39   37   39  Task 1            1          0
17760   41   38   41   39   36   37  Task 1            1          0
17761   39   37   39   37   35   35  Task 1            1          0
17762   37   37   37   34   34   34  Task 1            1          0
17763   34   37   37   34   34   34  Task 1            1          0
17764   32   36   36   32   35   34  Task 1            1          0
17765   32   37   36   30   34   35  Task 1            1          0
17766   33   36   36   32   35   35  Task 1            1          0
17767   33   35   37   32   34   35  Task 1            1          0
17768   38   38   41   39   35   36  Task 1            1          0
17769   42   39   41   43   39   38  Task 1            1          0
17770   44   39   45   43   41   41  Task 1            1          0
17771   45   39   45   45   43   42  Task 1            1          0
17772   47   40   46   46   45   44  Task 1            1          0
17773   47   41   46   48   46   46  Task 1            1          0
17774   48   41   48   48   47   47  Task 1            1          0
17775   47   41   48   48   46   46  Task 1            1          0
17776   45   41   46   46   46   44  Task 1            1          0
17777   39   39   43   41   39   36  Task 1            1          0
17778   34   39   37   36   37   32  Task 1            1          0
17779   32   39   34   34   31   29  Task 1            1          0
17780   30   38   30   30   30   28  Task 1            1          0
17781   28   37   28   28   27   26  Task 1            1          0
17782   28   37   28   27   28   26  Task 1            1          0

       is_us_holiday
17759              0
17760              0
17761              0
17762              0
17763              0
17764              0
17765              0
17766              0
17767              0
17768              0
17769              0
17770              0
17771              0
17772              0
17773              0
17774              0
17775              0
17776              0
17777              0
17778              0
17779              0
17780              0
17781              0
17782              0

[24 rows x 32 columns]

In [ ]:



# Convert the datetime column to datetime type
# Replace 'date_column_name' with the actual column name in your data
#df['datetime'] = pd.to_datetime(df['datetime'])

# Create US holiday calendar
us_holidays = holidays.UnitedStates()

# Add Saturday and Sunday columns

# Add US holiday column
df['is_us_holiday'] = df['TIMESTAMP'].dt.date.apply(lambda x: int(x in us_holidays))

# View the updated DataFrame
print(df.head())

# Optionally save to new CSV
# df.to_csv("updated_data_loads.csv", index=False)

   ZONEID           TIMESTAMP   LOAD  w1  w2  w3  w4  w5  w6  w7  ...  w18  \
0       1 2005-01-01 01:00:00  125.8  43  46  40  47  48  46  44  ...   50
1       1 2005-01-01 02:00:00  121.8  41  46  38  46  48  45  51  ...   49
2       1 2005-01-01 03:00:00  117.0  40  46  37  45  45  45  49  ...   50
3       1 2005-01-01 04:00:00  114.4  39  46  37  47  48  48  45  ...   49
4       1 2005-01-01 05:00:00  113.6  38  46  37  44  48  49  43  ...   49

   w19  w20  w21  w22  w23  w24  w25    Task  is_us_holiday
0   45   50   47   41   47   47   45  Task 1              1
1   46   47   47   45   47   47   45  Task 1              1
2   45   45   46   45   46   46   43  Task 1              1
3   43   45   44   45   47   47   44  Task 1              1
4   43   43   45   45   47   46   44  Task 1              1

[5 rows x 30 columns]

In [28]:
#print where the date is the 24 of november of 2005
print(df[df['TIMESTAMP'].dt.date == pd.to_datetime('2005-11-24').date()])

      ZONEID           TIMESTAMP   LOAD  w1  w2  w3  w4  w5  w6  w7  ...  w18  \
7631       1 2005-11-24 00:00:00  158.3  46  46  51  46  54  47  49  ...   56
7632       1 2005-11-24 01:00:00  144.9  46  46  51  46  54  48  50  ...   57
7633       1 2005-11-24 02:00:00  137.2  46  46  51  47  54  48  49  ...   58
7634       1 2005-11-24 03:00:00  133.5  46  46  50  47  52  47  49  ...   57
7635       1 2005-11-24 04:00:00  132.5  46  48  48  47  52  48  50  ...   56
7636       1 2005-11-24 05:00:00  133.6  46  48  45  47  50  48  49  ...   54
7637       1 2005-11-24 06:00:00  139.3  45  46  46  46  52  47  47  ...   53
7638       1 2005-11-24 07:00:00  146.6  45  46  46  46  52  47  47  ...   55
7639       1 2005-11-24 08:00:00  160.5  46  50  45  47  54  49  50  ...   57
7640       1 2005-11-24 09:00:00  168.4  52  52  52  51  57  53  53  ...   59
7641       1 2005-11-24 10:00:00  166.7  55  57  55  54  61  55  58  ...   60
7642       1 2005-11-24 11:00:00  161.0  44  61  58  58  61  59  61  ...   60
7643       1 2005-11-24 12:00:00  152.2  45  66  61  61  62  61  64  ...   62
7644       1 2005-11-24 13:00:00  136.6  48  68  62  64  62  64  66  ...   64
7645       1 2005-11-24 14:00:00  122.8  49  68  60  66  63  64  67  ...   64
7646       1 2005-11-24 15:00:00  114.2  50  68  59  66  63  64  67  ...   64
7647       1 2005-11-24 16:00:00  108.7  50  68  56  66  64  63  66  ...   63
7648       1 2005-11-24 17:00:00  106.8  50  63  53  64  64  60  63  ...   63
7649       1 2005-11-24 18:00:00  119.0  47  57  50  61  64  54  57  ...   62
7650       1 2005-11-24 19:00:00  123.0  45  55  48  59  64  56  56  ...   62
7651       1 2005-11-24 20:00:00  125.5  43  52  47  55  59  55  54  ...   62
7652       1 2005-11-24 21:00:00  127.2  42  54  44  54  57  53  54  ...   62
7653       1 2005-11-24 22:00:00  127.5  42  54  43  51  61  51  53  ...   61
7654       1 2005-11-24 23:00:00  124.2  41  46  40  50  59  44  54  ...   59

      w19  w20  w21  w22  w23  w24  w25    Task  is_us_holiday
7631   39   49   44   48   46   45   47  Task 1              1
7632   39   51   46   52   47   45   46  Task 1              1
7633   39   51   47   50   47   45   45  Task 1              1
7634   39   51   48   46   49   44   44  Task 1              1
7635   34   50   47   46   48   44   44  Task 1              1
7636   32   49   46   46   47   45   45  Task 1              1
7637   36   49   46   48   47   44   45  Task 1              1
7638   36   49   46   48   46   42   43  Task 1              1
7639   36   50   49   52   47   45   46  Task 1              1
7640   49   53   52   54   53   50   50  Task 1              1
7641   52   58   55   59   56   55   54  Task 1              1
7642   57   61   59   61   56   60   58  Task 1              1
7643   59   65   62   64   56   64   62  Task 1              1
7644   60   67   64   66   56   66   64  Task 1              1
7645   61   67   66   68   56   67   66  Task 1              1
7646   45   68   66   70   56   68   66  Task 1              1
7647   40   67   65   66   56   67   66  Task 1              1
7648   40   64   63   64   56   64   62  Task 1              1
7649   38   60   61   63   57   57   57  Task 1              1
7650   36   59   53   59   57   59   56  Task 1              1
7651   42   58   57   59   57   56   54  Task 1              1
7652   48   58   48   57   57   55   46  Task 1              1
7653   46   57   43   54   57   53   44  Task 1              1
7654   41   56   40   54   54   52   50  Task 1              1

[24 rows x 30 columns]